.form-group {
  width: 30%;
}

.form-control {
  width: 100%;
}

.registerButton {
  border-radius: 2px;
  background-color: coral;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 355px;
  height: 27px;
  margin-top: 10px;
  text-align: center;
  padding: 0px;
  padding-top: 4px;
  color: white
}

