.book {
  width: 150px;
  max-width: 200px;
  height: 220px;
  max-height: 300px;
  margin: auto;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  margin-top: 10px;
}

.content {
  margin-top: 45px;
  /* background-color: #B1D4E0;  */
  background-color: #fff;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("library.jpg");; */
  padding: 2px;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  height: 100%;
  text-align: left;
}

.bookContainer {
  width: 200px;
  max-width: 200px;
  height: 400px;
  max-height: 600px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#issueButton {
  border-radius: 2px;
  background-color: rgb(255, 128, 82);
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  height: 27px;
  margin-left: 45px;
  margin-right: 45px;
  text-align: center;
  padding: 0px;
  padding-top: 4px;
}

#issueButtonDisabled {
  border-radius: 2px;
  background-color: rgb(163, 163, 163);
  border: none;
  font-size: 15px;
  width: 100px;
  height: 27px;
  margin-left: 45px;
  margin-right: 45px;
  text-align: center;
  padding: 0px;
  padding-top: 4px;
}

#issueButton:hover {
  background-color: rgba(255, 127, 80, 0.623);
}

.container > .bookContainer {
  flex: 1 1 30%;
}
